@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Black: #1C1C1C
  offwhite: #FAFAFA
  Blue:: #00C2F5
  Green: #6FCF2A 
  Light Grey 2 :: #E6E6E6
  */

html,
body {
  font-size: 12px;
  background-color: #2b2b2b;
  color: #fafafa;

  width: 300px;
  margin: 0px auto;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a:hover {
  color: #6fcf2a;
}

#root {
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  img {
    height: 40px;
  }
  h3 {
    margin: 0px;
  }
}

.account {
  margin: 10px 5px;
  padding-right: 5px;

  & > .title-overview {
    border-width: 2px;
    border-bottom-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: #1c1c1c;
    color: #fafafa;

    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      border-bottom-color: #00c2f5;
      color: #00c2f5;
    }

    &.expanded {
      border-bottom-color: #00c2f5;
    }

    p {
      margin: 0px;
      font-weight: bold;
    }
  }
}

.entries {
}

.entry {
  cursor: pointer;
  border-bottom-color: #1c1c1c;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 3px 5px;

  background-color: #fafafa;
  color: #1c1c1c;

  transition: all 0.2s;
  animation: fadeIn 1s;

  &:hover {
    filter: brightness(0.7);
  }

  p {
    margin: 0px;
  }

  & > .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 3px 0px; */
    margin-top: 3px;

    &.title {
      font-weight: bold;
      font-weight: 0.9rem;
    }
    &.subtitle {
      font-size: 0.9rem;
    }
  }
}

.month {
  flex-shrink: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pill {
  margin: 1px;
  padding: 1px 8px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 400;

  &.project {
    background-color: #6fcf2a;
  }

  &.product {
    background-color: #00c2f5;
  }

  &.none {
    background-color: red;
  }
}

.forecast {
  cursor: pointer;
  transition: all 0.2s;

  &.over {
    color: #f54e00;
  }
  &.under {
    color: #6fcf2a;
  }

  &:hover {
    color: #00c2f5;
  }
}

input {
  width: 210px;
}
button {
  background-color: #2b2b2b;
  color: #fafafa;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: #00c2f5;
  }
}
.dispute {
  margin-top: 10px;

  p {
    margin: 5px 0px;
  }
}

.disputed {
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
}

.dispute-link {
  text-decoration: underline;

  &:hover {
    color: #6fcf2a;
  }
}
